@use "../global/mixins";

@mixin container {
  width: calc(100% - 2*var(--x-padding, 15px));
  min-width: 320px;
  max-width: 1200px;
  margin-inline: var(--x-padding, 15px);

  @include mixins.media(sm) {
    margin-inline: auto;
  }
}

.container {
  @include container;
}
