.logo {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  gap: 0 16px;
  text-decoration-line: none;
  color: #2b2a29;

  &:hover {
    color: inherit;
    opacity: 0.9;
  }
}

.logo__image {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 50px;
  aspect-ratio: 1;
}

.logo__title {
  font-size: 18px;
}

.logo__subtitle {
  font-size: 12px;
}
